
# dependencies
/node_modules

# production
/build


# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#history
.github/
.history/
.husky/

README.md

# Ignore all .log files
*.log